<header>
    <nav>

        <div style="text-align: center;position: fixed;">
            <ul>
                <li>
                    <a routerLink="/principal" routerLinkActive="activa"><img src="assets/img/home.png" alt=""></a>
                </li>
                <li>
                    <a routerLink="/service" routerLinkActive="activa"><img src="assets/img/barbe.png" alt=""></a>
                </li>
                <li>
                    <a routerLink="/producto" routerLinkActive="activa"><img src="assets/img/barba.png" alt=""></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>
