.containerCards {
    width: 90%;
    height: 100px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.containerCards .image {
    position: relative;
    float: left;
    width: 35%;
    height: 100%;
    margin-right: 5px;
}

.containerCards .image img {
    background-image: url('./1.png');
    width: 90%;
    height: 100px;
}

.containerCards .text {
    margin-left: 20%;
    position: relative;
}

.containerCards .text h1 {
    margin: 0;
}

.containerCards .text p {
    margin: 0;
}

.containerCards .text h3 {
    margin: 0;
}